<div class="topic-detail">
    <div class="tile_parameters">
        <div class="tile_parameter-group">
            <div class="topic-parameter-group">
                <div class="topic-discription">
                    <span>Time Graph</span>
                    <div class="tile_chart">
                        {{#each timeGraph}}
                        <div class="tile_bar" style="height:{{score}} px; width: 5px"> {{score}}</div>
                        {{/each}}
                    </div>

                    <div class="tile_chart_d3"></div>
                </div>

            </div>
            <div class="topic-parameter-group">
                <div class="topic-discription">
                    <span>Topic List</span>
                </div>
                <div class="topic-parameter" style="color: yellow">
                    <span>marathon ing finish</span>
                </div>
                <div class="topic-parameter" style="color: magenta">
                    <span>marathon nyc edbanger</span>
                </div>
                <div class="topic-parameter" style="color: green">
                    <span>love live matter</span>
                </div>
                <div class="topic-description">
                    <span>Exclusiveness</span>
                    <div class="slider-container" id="slider-exclusiveness"></div>
                </div>
            </div>
            
        </div>
    </div>
</div>
