<div class="topic-details">
    <div class="tile_parameters">
        <div class="tile_parameter-group">
            <div class="topic-parameter-group">
                <div class="topic-discription">
                    <div class="timeGraph">Time Graph</div>
                    <br>
          <!--           <div class="tile_chart">
                        {{#each timeGraph}}
                        <div class="tile_bar" style="height:{{score}} px; width: 5px"> {{score}}</div>
                        {{/each}}
                    </div> -->

                    <div class="topic-drilldown-detail"></div>
                    <div class="topic-description-topics">
                   <!--  <span>Exclusiveness</span> -->
                    <!-- <div class="slider-container" id="slider-xcl"></div> -->
                </div>

                </div>

            </div>
            
        </div>
    </div>
</div>
