<div class="topic-parameters">

    <div class="topic-parameter-group">
        <div class="topic-description">
            <span>Map color mode</span>
        </div>
        <div class="topic-parameter">
            <span>Light </span>
            <div class="map-mode-select-light">
                <i class="fa fa-check-square-o"></i>
            </div>
        </div>
        <div class="topic-parameter">
            <!-- <div class="slider-container" id="slider-exclusiveness"></div> -->
            <span>Dark </span>
            <div class="map-mode-select-dark">
                <i class="fa fa-check-square-o"></i>
            </div>
        </div>
    </div>

    <div class="layer-control">
        <span>Show Heatmap: </span>
        <div class="heatmap-toggle">
            <i class="fa fa-check-square-o"></i>
        </div>
    </div>
    <!-- <div class="topic-parameter-group">
        <div class="topic-description">
            <span>Terms</span>
        </div>
        <div class="topic-parameter">
            <span>Include: </span>
            <input class="topic-term" type="text" name="terms-include" value="{{include}}"/>
        </div>
        <div class="topic-parameter">
            <span>Exclude: </span>
            <input class="topic-term" type="text" name="terms-exclude" value="{{exclude}}"/>
        </div>
    </div> -->
    <div class="topic-parameter-group">
        <div class="topic-description">
            <span>Topic Counts</span>
        </div>
        <div class="topic-parameter">
            <span>Cluster Count: </span>
            <input class="topic-count" type="text" name="count-cluster" value="{{clusterCount}}"/>
        </div>
        <div class="topic-parameter">
            <span>Word Count: </span>
            <input class="topic-count" type="text" name="count-word" value="{{wordCount}}"/>
        </div>
    </div>
    <div class="topic-parameter-group">
        <div class="topic-description">
            <span>Algorithm</span>
        </div>
        <div class="topic-parameter">
            <span>StanNMF </span>
            <div class="algo-select-stan">
                <i class="fa fa-check-square-o"></i>
            </div>
        </div>
        <div class="topic-parameter">
            <!-- <div class="slider-container" id="slider-exclusiveness"></div> -->
            <span>STExNMF(low) </span>
            <div class="algo-select-stex-low">
                <i class="fa fa-check-square-o"></i>
            </div>
        </div>
        <div class="topic-parameter">
            <span>STExNMF(high) </span>
            <div class="algo-select-stex-high">
                <i class="fa fa-check-square-o"></i>
            </div>
        </div>
                <!-- <div class="slider-container" id="slider-exclusiveness"></div> </div>-->
    </div>
    <div class="topic-parameter-group">
        <div class="topic-description">
            <span>Time</span>
        </div>
        <div class="slider-container" id="slider-time"></div>
    </div>
</div>
<div class="topic-submit">
    <button id="topic-tiler" class="button" name="refreshButton">
 <!--    <img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_R01AOzBZOY5cOOPfsYlYGzHPqLgpQs6oOEGccp8sEMTM4S2I"> -->
    </button>
</div>
