<div class="layer-control">
	<span>Show Heatmap</span>
	<div class="layer-toggle">
			<i class="fa fa-check-square-o"></i>
	</div>
</div>
<div class="topic-parameters">
    <div class="topic-parameter-group">
        <div class="topic-description">
            <span>Terms</span>
        </div>
        <div class="topic-parameter">
            <span>Include: </span>
            <input class="topic-term" type="text" name="terms-include" value="{{include}}"/>
        </div>
        <div class="topic-parameter">
            <span>Exclude: </span>
            <input class="topic-term" type="text" name="terms-exclude" value="{{exclude}}"/>
        </div>
    </div>
    <div class="topic-parameter-group">
        <div class="topic-description">
            <span>Topic Counts</span>
        </div>
        <div class="topic-parameter">
            <span>Cluster Count: </span>
            <input class="topic-count" type="text" name="count-cluster" value="{{clusterCount}}"/>
        </div>
        <div class="topic-parameter">
            <span>Word Count: </span>
            <input class="topic-count" type="text" name="count-word" value="{{wordCount}}"/>
        </div>
    </div>
    <div class="topic-parameter-group">
        <div class="topic-description">
            <span>Algorithm</span>
        </div>
        <div class="topic-parameter">
            <span>Exclusiveness: </span>
            <div class="slider-container" id="slider-exclusiveness"></div>
        </div>
    </div>
    <div class="topic-parameter-group">
        <div class="topic-description">
            <span>Time</span>
        </div>
        <div class="slider-container" id="slider-time"></div>
    </div>
</div>
<div class="topic-submit">
    <button id="topic-tiler" class="button">
        Get Topics
    </button>
</div>
