<div class="topic-drilldown">
    <div class="drilldown-label">
        <span>'{{topic}}' Tweets</span>
        <br>
    </div>
    <div class="drilldown-item">
        {{#each tweets}}
            <div class="topic-drilldown-alignleft">Name: {{username}}</div>
            <div class="topic-drilldown-alignright">{{created_at}}</div>
            <br>
            <div class="topic-drilldown-text">Tweet: {{texts}}</div>
            
            <br>
            <div style="clear: both;"></div>
        {{/each}}
    </div>
</div>
