<div class="topic-drilldown">
    <div class="drilldown-label">
        <span>'{{topic}}' Tweets</span>
        <br>
    </div>
    <div class="drilldown-item">
        {{#each tweets}}
            <div class="drilldown-label">Name: </div>
            <div class="drilldown-item">{{username}}</div>
            <div class="drilldown-item">{{created_at}}</div>
            <br>
            <div class="drilldown-label">Tweet: </div>
            <div class="drilldown-item">{{texts}}</div>
            
            <br>
            <br>
        {{/each}}
    </div>
</div>
